@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-zinc-300 antialiased selection:bg-orange-500/30 selection:text-orange-200;
    font-family: 'Inter', sans-serif;
  }
}

/* Cursor blink animation */
@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}